# Example environment variables for the backend
# Copy to .env and fill your secrets (DO NOT commit .env to git)

PORT=4000
# URL where the frontend SPA runs
APP_URL=http://localhost:3000

# SMTP settings (example: Mailtrap)
EMAIL_SMTP_HOST=smtp.mailtrap.io
EMAIL_SMTP_PORT=587
EMAIL_SMTP_SECURE=false
EMAIL_SMTP_USER=your_mailtrap_user
EMAIL_SMTP_PASS=your_mailtrap_pass
EMAIL_FROM="no-reply@escola.com"

# Other settings
SERVICE_ACCOUNT_PATH=fernando-503004-faf5c3b16a95.json
